@font-face {
    font-family: "Minecraft";
    src: url(../font/Minecraft-Regular.ttf) format("ttf");
}

header {
    background: lightgray;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body aside {
    float: right;
    color: magenta;
    font-size: 1.2em;
    width: 150px;
    border: solid
}

body aside :hover {
    color: black;
    cursor: url(/src/img/795887815250280469.png), auto;
}

body table {
    border: 5px;
}


nav a {
    text-decoration: none;
    color: black;
}

nav a :hover {
    color: magenta;
}

footer {
    clear: both;
    padding-top: 2em;
    background: dimgray;
    color: white;
    font-family: "Minecraft", sans-serif;
}

footer a {
    text-decoration: none;
    color:  gainsboro;
    

}

footer div {
    float: right
}

footer a :hover {
    color: white;
    cursor: url(/src/img/795887815250280469.png), pointer;
}
/* Dropdown Button */
.dropdtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: "Minecraft", sans-serif;
}
.navbar input {
    overflow: hidden;
    background-color: white;
    font-family: "Minecraft", sans-serif;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdtn {
    font-size: 16px;  
    border: white 12px;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropdtn {
    background-color: red;
    cursor: url(/src/img/795887815250280469.png), pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
    cursor: url(/src/img/795887815250280469.png), pointer;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    cursor: url(/src/img/795887815250280469.png), pointer;
}
.couleur_bleue {
    color: blue;
}
#couleur_rouge {
    color: red;
}
.container {
    font-style: italic;
}
.souligne {
    text-decoration: underline;
}
.gras {
    font-weight: bold;
}
table, caption, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
